<h2 mat-dialog-title>{{tituloAccion}} Técnica</h2>

<mat-dialog-content>
  <form [formGroup]="formularioUsuario">
    <mat-grid-list cols="1" rowHeight="80px">
        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Nombre técnica</mat-label>
                <input matInput autocomplete="off" formControlName="nombre">
                <mat-icon matSuffix>edit</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Puntos por técica</mat-label>
                <input matInput type="number" autocomplete="off" formControlName="puntos">
                <mat-icon matSuffix>star</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

       
        
    </mat-grid-list>
  </form>
</mat-dialog-content>


<mat-dialog-actions aling="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button  color="primary"
        [disabled]="formularioUsuario.invalid"
        (click)="guardarEditar_Usuario()"
    >{{botonAccion}}</button>
</mat-dialog-actions>

