
<h2 mat-dialog-title>{{tituloAccion}} Competidor</h2>

<mat-dialog-content>
  <form [formGroup]="formularioUsuario">
    <mat-grid-list cols="1" rowHeight="80px">
        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Nombre competidor</mat-label>
                <input matInput autocomplete="off" formControlName="nombre">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Fecha nacimiento</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="fecha">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Peso</mat-label>
                <input matInput type="number" autocomplete="off" formControlName="peso">
                <mat-icon matSuffix>star</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Cédula</mat-label>
                <input matInput autocomplete="off" formControlName="cedula">
                <mat-icon matSuffix>badge</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Club</mat-label>
                <mat-select formControlName="club">
                    <mat-option *ngFor="let item of listaClub"[value]="item.clu_id">
                        {{item.clu_nombre}}
                    </mat-option>
                </mat-select>

                <mat-icon matSuffix>admin_panel_settings</mat-icon>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Rango</mat-label>
                <mat-select formControlName="rango">
                    <mat-option *ngFor="let item of listaRango"[value]="item.ran_id">
                        {{item.ran_color}}
                    </mat-option>
                </mat-select>

                <mat-icon matSuffix>admin_panel_settings</mat-icon>
            </mat-form-field>
        </mat-grid-tile>



       
        
    </mat-grid-list>
  </form>
</mat-dialog-content>


<mat-dialog-actions aling="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button  color="primary"
        [disabled]="formularioUsuario.invalid"
        (click)="guardarEditar_Usuario()"
    >{{botonAccion}}</button>
</mat-dialog-actions>

