<h1>Informe por Club</h1>

<!-- Selección de competencia -->
<mat-form-field appearance="outline" style="width: 300px; margin-bottom: 20px;">
  <mat-label>Seleccionar Competencia</mat-label>
  <mat-select [(ngModel)]="competenciaSeleccionada" (selectionChange)="obtenerInforme()">
    <mat-option *ngFor="let competencia of listaCompetencias" [value]="competencia.com_id">
      {{ competencia.com_nombre }}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- Tabla para mostrar el informe -->
<table mat-table [dataSource]="dataSourceInforme" class="mat-elevation-z8" style="width: 100%; margin-top: 20px;">
  <ng-container matColumnDef="Club">
    <th mat-header-cell *matHeaderCellDef> Club </th>
    <td mat-cell *matCellDef="let element"> {{ element.Club }} </td>
  </ng-container>

  <ng-container matColumnDef="Competidores">
    <th mat-header-cell *matHeaderCellDef> Competidores </th>
    <td mat-cell *matCellDef="let element"> {{ element.Competidores }} </td>
  </ng-container>

  <ng-container matColumnDef="Medallas">
    <th mat-header-cell *matHeaderCellDef> Medallas </th>
    <td mat-cell *matCellDef="let element"> {{ element.Medallas }} </td>
  </ng-container>

  <ng-container matColumnDef="Tecnica">
    <th mat-header-cell *matHeaderCellDef> Técnica </th>
    <td mat-cell *matCellDef="let element"> {{ element.Tecnica }} </td>
  </ng-container>

  <ng-container matColumnDef="Eficiencia">
    <th mat-header-cell *matHeaderCellDef> Eficiencia (%) </th>
    <td mat-cell *matCellDef="let element"> {{ element.Eficiencia }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

